.searchContainer {
  display: flex;
  justify-content: center;
}
.search-box {
  border-radius: 1.25rem;
  height: 2.5rem;
  width: auto;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-bottom: 2rem;
  outline: none;
  border: 0;
}

.search-input-style {
  border-radius: 0;
}
